/* *Colors */
/* border - radius */
/* line 10, ../01-single-price/scss/style.scss */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
}

@media (min-width: 320px) {
  /* line 20, ../01-single-price/scss/style.scss */
  body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: #e5eff5;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  /* line 32, ../01-single-price/scss/style.scss */
  .block {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 335px;
    margin: 20px 0 20px 0;
  }
  /* line 50, ../01-single-price/scss/style.scss */
  .join {
    width: 100%;
    padding: 42px 42px 0;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
  }
  /* line 59, ../01-single-price/scss/style.scss */
  .join__h1 {
    font-size: 24px;
    color: #2ab2af;
    padding-bottom: 22px;
  }
  /* line 65, ../01-single-price/scss/style.scss */
  .join__h2 {
    font-size: 18px;
    color: #c0df34;
    padding-bottom: 13px;
  }
  /* line 71, ../01-single-price/scss/style.scss */
  .join__text {
    color: #98a6bd;
    line-height: 1.6;
    font-size: 15.5px;
    padding-bottom: 42px;
  }
  /* line 78, ../01-single-price/scss/style.scss */
  .month {
    width: 100%;
    background-color: #2ab2af;
    padding: 40px;
    box-sizing: border-box;
  }
  /* line 84, ../01-single-price/scss/style.scss */
  .month__h2 {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 15px;
  }
  /* line 91, ../01-single-price/scss/style.scss */
  .month__price {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    color: #ffffffa9;
    margin-bottom: 9px;
  }
  /* line 101, ../01-single-price/scss/style.scss */
  .month__span {
    font-size: 32px;
    color: #fff;
    margin-right: 15px;
  }
  /* line 107, ../01-single-price/scss/style.scss */
  .month__txt {
    color: #fff;
    font-size: 15.5px;
    margin-bottom: 32px;
  }
  /* line 113, ../01-single-price/scss/style.scss */
  .month__btn {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #c0df34;
    border-radius: 5px;
    padding: 14px;
    box-sizing: border-box;
  }
  /* line 122, ../01-single-price/scss/style.scss */
  .month__btn:hover {
    background-color: #cee660;
  }
  /* line 129, ../01-single-price/scss/style.scss */
  .why {
    width: 100%;
    background-color: #4abebd;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
  }
  /* line 136, ../01-single-price/scss/style.scss */
  .why__h2 {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 18px;
  }
  /* line 143, ../01-single-price/scss/style.scss */
  .why__txt {
    font-size: 13px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.603);
  }
  /* line 150, ../01-single-price/scss/style.scss */
  .shadow {
    box-shadow: 0 10px 10px 3px rgba(100, 100, 100, 0.3);
  }
}

@media (min-width: 480px) {
  /* line 157, ../01-single-price/scss/style.scss */
  body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: #e5eff5;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    /* height: 100vh; */
  }
  /* line 170, ../01-single-price/scss/style.scss */
  .block {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 636px;
  }
  /* line 187, ../01-single-price/scss/style.scss */
  .join {
    width: 100%;
    padding: 42px 42px 0;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
  }
  /* line 196, ../01-single-price/scss/style.scss */
  .join__h1 {
    font-size: 24px;
    color: #2ab2af;
    /* 
        padding-bottom: 22px; */
  }
  /* line 202, ../01-single-price/scss/style.scss */
  .join__h2 {
    font-size: 18px;
    color: #c0df34;
    padding-bottom: 13px;
  }
  /* line 208, ../01-single-price/scss/style.scss */
  .join__text {
    color: #98a6bd;
    line-height: 1.6;
    font-size: 15.5px;
    padding-bottom: 42px;
  }
  /* line 215, ../01-single-price/scss/style.scss */
  .month {
    width: 50%;
    background-color: #2ab2af;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 0 0 0 10px;
  }
  /* line 222, ../01-single-price/scss/style.scss */
  .month__h2 {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 15px;
  }
  /* line 229, ../01-single-price/scss/style.scss */
  .month__price {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 15px;
    color: #ffffffa9;
    margin-bottom: 9px;
  }
  /* line 239, ../01-single-price/scss/style.scss */
  .month__span {
    font-size: 32px;
    color: #fff;
    margin-right: 15px;
  }
  /* line 245, ../01-single-price/scss/style.scss */
  .month__txt {
    color: #fff;
    font-size: 15.5px;
    margin-bottom: 32px;
  }
  /* line 251, ../01-single-price/scss/style.scss */
  .month__btn {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #c0df34;
    border-radius: 5px;
    padding: 14px;
    box-sizing: border-box;
  }
  /* line 260, ../01-single-price/scss/style.scss */
  .month__btn:hover {
    background-color: #cee660;
  }
  /* line 267, ../01-single-price/scss/style.scss */
  .why {
    width: 50%;
    background-color: #4abebd;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 0 0 10px 0;
  }
  /* line 274, ../01-single-price/scss/style.scss */
  .why__h2 {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 18px;
  }
  /* line 281, ../01-single-price/scss/style.scss */
  .why__txt {
    font-size: 13px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.603);
  }
  /* line 288, ../01-single-price/scss/style.scss */
  .shadow {
    box-shadow: 0 10px 15px 5px rgba(100, 100, 100, 0.05);
  }
}

/*# sourceMappingURL=style.css.map */